.fadeIn {
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fadeInFast {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fadeInUp {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name:fadeInUp;
    animation-name:fadeInUp;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.slideInRight {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name:slideInRight;
    animation-name:slideInRight;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
    to {
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
    to {
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0);
        visibility:visible
    }
    to {
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0);
        visibility:visible
    }
    to {
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}