/* START UD CUSTOM COMPONENTS */
body {
    padding: 83px 0 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 27px;
}
a:active,
a:focus,
a:hover,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    text-decoration: none;
}
h1, .h1 {
    font-weight: 900;
    font-size: 37px;
    line-height: 60px;
}
h2, .h2 {
    font-weight: 900;
    font-size: 29px;
    line-height: 48px;
}
h3, .h3 {
    font-weight: 900;
    font-size: 23px;
    line-height: 40px;
}
h4, .h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
}
h5, .h5 {
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
}
h1.inline, .h1.inline,
h2.inline, .h2.inline,
h3.inline, .h3.inline,
h4.inline, .h4.inline,
h5.inline, .h5.inline {
    font-weight: normal;
    line-height: 1.5em;
    text-decoration: none;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small {
    font-weight: 900;
    color: #5E5E5E;
}
h1.small-hdr,
h2.small-hdr,
h3.small-hdr,
h4.small-hdr,
h5.small-hdr {
    margin-top: 1em;
    margin-bottom: 0;
}
h2.sub-hdr,
h3.sub-hdr,
h4.sub-hdr,
h5.sub-hdr {
    margin-top: 0;
}
h1.hdr-notop-mrgn,
h2.hdr-notop-mrgn,
h3.hdr-notop-mrgn,
h4.hdr-notop-mrgn,
h5.hdr-notop-mrgn {
    margin-top: 0;
}
label.h1,
label.h2,
label.h3,
label.h4,
label.h5 {
    margin-top: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-fixed-top {
    height: 62px;
}
.navbar-header {
    padding-top: 4px;
}
.navbar-default {
    border: none;
    border-radius: 0;
}
.navbar-default .nav > li {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0 6px;
}
.navbar-default .nav > li > a {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    font-size: 23px;
    opacity: 1;
}
.nav > li:hover > a,
.nav > li:focus > a,
.nav > li.active > a,
.nav > li.active:hover > a,
.nav > li.active:focus > a {
    border-bottom-color: #ffffff;
    opacity: 1;
}
@media (max-width: 767px) {
    .nav > li:hover > a,
    .nav > li:focus > a,
    .nav > li.active > a,
    .nav > li.active:hover > a,
    .nav > li.active:focus > a {
        border-bottom-color: transparent;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 6px;
}
.flx-cntnr {
    display: flex;
    position: relative;
}
.flx-row {
    flex-direction: row;
}
.flx-nowrap {
    flex-wrap: nowrap;
}
.flx-start {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.flx-grow-all {
    flex-grow: 1;
}
.flx-grow-1 {
    flex-grow: 1;
}
.flx-grow-2 {
    flex-grow: 2;
}
.alert-banner {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 27px;
}
.alert-banner > .container > .close {
    margin-right: 8px;
}
.splash-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-content {
    text-align: center;
    color: #ffffff;
}
