/* START UD CUSTOM COMPONENTS */
body {
    padding: 63px 0 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}
h1, .h1 {
    font-weight: 900;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}
h2, .h2 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 36px;
    margin-bottom: 18px;
}
h3, .h3 {
    font-weight: 900;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}
h4, .h4 {
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1.inline, .h1.inline,
h2.inline, .h2.inline,
h3.inline, .h3.inline,
h4.inline, .h4.inline {
    font-weight: normal;
    line-height: 1.5em;
}
.navbar {
    margin-bottom: 0;
}
.navbar-fixed-top {
    height: 62px;
}
.navbar-header {
    padding-top: 4px;
}
.navbar-default {
    border: none;
    border-radius: 0;
}
.navbar-default .nav > li {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0 6px;
}
.navbar-default .nav > li > a {
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    font-size: 28px;
    opacity: 1;
}
.nav > li:hover > a,
.nav > li:focus > a,
.nav > li.active > a,
.nav > li.active:hover > a,
.nav > li.active:focus > a {
    border-bottom-color: #ffffff;
    opacity: 1;
}
.flx-cntnr {
    display: flex;
    position: relative;
}
.flx-cntnr > * {
}
.flx-row {
    flex-direction: row;
}
.flx-nowrap {
    flex-wrap: nowrap;
}
.flx-start {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.flx-grow-all {
    flex-grow: 1;
}
.alert-banner {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
}
.alert-banner > .container > .close {
    margin-right: 8px;
}
.splash-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-content {
    text-align: center;
}
