/* Main CSS file */
body {
    background: #efefef url("../images/desk.png") no-repeat 50px 350px;
    background-size: 50% auto;
}
#qwInfo {
    line-height: 2.5em;
    margin-bottom: 1em;
}
#qwInfo p {
    line-height: 1.5em;
}
#qwContentContainer {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
#viewAllChevron {
    font-weight: lighter;
}
div.question-actions a {
    color: #666666;
    letter-spacing: 6px;
}
div.question-actions a:hover, div.question-actions a:active, div.question-actions a:focus {
    text-decoration: none;
}
#allResultsTable {
    background: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
#allResultsTable small.date {
    font-weight: normal;
}
#allResultsTable .question-col {
    font-weight: bold;
}
.export-link {
    font-size: 14px;
    font-weight: lighter;
    padding-top: 16px;
}
.student-name-header {
    margin-top: 0;
}
.big-shadow {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.small-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 3px 10px 0 rgba(0,0,0,.19);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 3px 10px 0 rgba(0,0,0,.19);
}
/* The side navigation menu */
.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -200px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #919191;
    display: block;
    transition: 0.2s;
}
.side-nav a:hover {
    color: #f1f1f1;
}
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 24px;
    margin-left: 50px;
    font-weight: lighter;
}