body {
    height: 100vh;
    background: -webkit-linear-gradient(50deg,#303f9f,#45cafc);
    background: -o-linear-gradient(50deg,#303f9f,#45cafc);
    background: linear-gradient(40deg,#303f9f,#45cafc);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
#splashMessage {
    color: #fff;
}
#splashMessage h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
#splashMessage p {
    font-size: 16px;
}
#splashMessage a {
    margin-top: 2em;
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #splashImage {
        padding-top: 100px;
    }
    #splashMessage {
        padding-top: 100px;
    }
}
div.checkbox {
    display: inline-block;
}
label {
    color: #fff;
}
