body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #efefef;
    padding-top: 0;
}
div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
div.row {
    background: -webkit-linear-gradient(50deg,#303f9f,#45cafc);
    background: -o-linear-gradient(50deg,#303f9f,#45cafc);
    background: linear-gradient(40deg,#303f9f,#45cafc);
    background-repeat: no-repeat;
}
#splashMessage {
    color: #fff;
}
#splashMessage h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
#splashMessage p {
    font-size: 16px;
}
#splashMessage a {
    margin-top: 2em;
}
img.splash-img {
    display: none;
}
#createForm {
    padding: 15px;
    background: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-bottom: 5px solid #357ebd;
}
#createForm h3 {
    margin-top: 0;
}
#splashMessage {
    padding-bottom: 100px;
}
#createFormContainer {
    margin-top: -60px;
}
@media only screen and (max-width : 768px) {
    #splashMessage {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media only screen and (min-width : 768px) {
    #splashMessage {
        padding: 50px 0 100px;
    }
    img.splash-img {
        max-width: 50%;
        position: absolute;
        right: 15px;
        top: 180px;
        display: block;
    }
}
div.checkbox {
    display: inline-block;
}
